* {
  margin: 0;
  padding: 0;

  /* Debug */
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

#app {
  background-color: #3B3B3B;
}

@import "../components/styles/desktop.less";
@import "./pages/desktop.home.less";