#Navigation
  @apply flex flex-row flex-nowrap top-0 h-14 w-full

  > img
    @apply rounded-full size-10 my-2 ml-4

  > button
    @apply mx-3 text-base basis-32

    @apply after:bg-white after:active:bg-[#ffffffa2] // 伪元素样式

    &:hover
      cursor: pointer

      &::after
        @apply w-1/2 left-1/4

    &::after
      @apply content-[''] block relative top-1 h-px w-0 left-1/2 // 默认伪元素样式

      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)

  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1)
